.modal-header,.modal-footer{
    border: 0px;
}
.modal-header {
    flex-direction: column;
}
.modal-dialog p {
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.4;
}
.modal-dialog label {
    font-size: 11px;
    text-transform: uppercase;
    color: black;
}
input.form-control,select#exampleFormControlSelect1 {
    font-size: 13px;
    text-transform: uppercase;
}
.modal-title {
    font-weight: 500;
    font-size: 25px;
    margin: 10px 0;
}
button.btn.mbtn {
    border-radius: 29px;
    border: 0;
    width: 40%;
    margin: 0 10px;
    font-size: 14px;
}
@media(max-width:768px){
    .modal-dialog {
        border: 0; 
    }
    .modal-content {
        padding: 15px;
        border: 0;
    }
    .modal-open .modal{
        background: white;
    }
 
}